body{
    text-align: center;
}
h1{
    font-family:'Courier New';
    font-size:40px;
    font-weight:300;
}
.line{
    height:6px;
    width:70px;
    background-color:skyblue;
    margin:8px auto;
}
#apps{
    background-color:coral;
}
#game{
    background-color:goldenrod
}
#chatbot{
    background-color:thistle;
}
img{
    height:400px;
}